<template>
  <div class="home">
    <p>Home Component</p>
  </div>
</template>

<script>
export default {
  name: 'AppHome',
  data () {
    return {}
  }
}
</script>

<style lang="less" scoped>

</style>
