<template>
   <div class="login-wrap">
       <div class="login-form-wrap">
           <div class="login-head">
               <img src="" alt="">
           </div>
           <div class="login-form">
               <a-form
                :form="form"
                @submit="handleSubmit"
               >
                   <a-form-item
                    label="username"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 12 }"
                   >
                        <a-input
                        v-decorator="[
                        'note',
                        {rules: [{ required: true, message: 'Please input your username!' }]}
                        ]"
                        />
                  </a-form-item>

                  <a-form-item
                    label="Password"
                    :label-col="{ span: 5 }"
                    :wrapper-col="{ span: 12 }"
                   >
                        <a-input
                        v-decorator="[
                        'Password',
                        {rules: [{ required: true, message: 'Please input your password!' }]}
                        ]"
                        />
                  </a-form-item>

                  <a-form-item
                  :wrapper-col="{ span: 12, offset: 5 }"
                  >
                  <a-button
                    type="danger"
                    html-type="submit"
                  >
                    Submit
                  </a-button>
                  </a-form-item>

               </a-form>
           </div>
       </div>
   </div>
</template>

<script>
export default {
  name: 'AppLogin',
  data () {
    return {
      formLayout: 'horizontal',
      form: this.$form.createForm(this)
    }
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
        } else {
          this.$router.push({
            name: 'home'
          })
        }
      })
    }
  }
}

</script>

<style lang="less" scoped>
.login-head {
    background-color: black;
}
</style>
